on early-init
    mkdir dev/asl 0444 root root
    mkdir /mnt/tmpsd 0444 system system
    symlink /mnt/tmpsd /tmpsd
    mkdir /mnt/asl_img 0444 system system
    symlink /mnt/asl_img /asl_img

on fs
    exec /sbin/busybox sh /init.asl.sh
    exec /sbin/busybox sh /init.recovery.asl.sh
